html {
    background-color: #eeeeee;
    color: #c9c9c9;
}
html {
    font: 1.3em Helvetica Neue, Helvetica, Arial, sans-serif;}

p, ul, li, div, body {
    margin: 0px;
    padding: 0px;
    }

/*
p {
    font: 2em;
}
*/
/* Title For List */
h1.ListTitle {
    font-size: 3.3em;
    width: 50%;
    text-shadow: 4px 3px 0px rgba(0,0,0,0.2);
        }

/*Center Title text in page */
h1.ListTitle, #Edit, .Author, .Attrib {
    text-align: center;
    margin-left: auto;
    Margin-right: auto;
} 

#Edit, .Author, .Attrib {
    padding: 8px 0px;
    font-size: .55em;
    color: #c9c9c9;
}

#Edit a, .Author a, .Attrib a  {
    color: #c9c9c9;
}

/* Main List Container */
#ToDoContainer {
    width: 560px;
    margin-right: auto;
    margin-left: auto;
    border-top: #92827a solid 16px;
    border-bottom: #c9c9c9 double 3px;
    box-shadow: 0px 0px 5px 5px #999, 0px 0px 5px 5px #999;
    box-shadow: 6px 0px 2px #999, -6px 0px 2px #999;
    
   /* margin-bottom: 80px;*/
    }

.SelectAll, .InputTask {
    float: left;
    padding: 15px 10px;
}
.SelectAll, .TaskStatus {
    width: 5%;
}

.TaskStatus , .Task, .TaskElement{
        padding: 15px 5px;
}

.ToDoContainer, .InputLine, .StatusLine {
    overflow: hidden;
    zoom: 1
}

.StatusLine{
    width: 558px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    border: #c9c9c9 solid 1px;
}

.StatusLine ul{
    list-style-type: none;

}

.StatusLine li {
    float: left;
    width:172px;
    padding: 5px;
    margin: 2px;
}

.NumToDo {}


.TaskLine {
    list-style-type: none;
    }

.TaskElement {
    padding: 15px 0;
    background-color: #fff;
    border: #c9c9c9 solid 1px;
}

.SelectAll p, .TaskStatus p{
    Text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: .7em;
}

.InputTask, .Task {
    border-left: #ff0000 double 4px;
    width: 85%;
}

.InputTask p {
    font-style: italic;
}

.InputLine{
    border-bottom : 2px solid #c9c9c9;
}



.Statusline {
    list-style-type: none;
    padding: 5px 0px;
}

.NumToDo {
    text-align: left;
}

.NumCompleted {
    text-align: right;
}

