html {
    background-color: #eeeeee;
    color: #c9c9c9;
}
html {
    font: 1.3em Helvetica Neue, Helvetica, Arial, sans-serif;}

p, ul, li, div, body, input, h1, h2, h3, h4, h5 {
    margin: 0px;
    padding: 0px;
    }


.center {
    margin-left: auto;
    margin-right: auto; 
}


.floatLeft {
    float: left;
}

.wide {
    width: 480px;
}

.hide {
    display: none;
}

#ToDoContainer {
    width: 560px;
    border-top: #92827a solid 16px;
    box-shadow: 0px 0px 5px 5px #999, 0px 0px 5px 5px #999;
    box-shadow: 6px 0px 2px #999, -6px 0px 2px #999;
    overflow: hidden;'

}

.ToDoTitle {
    font-size: 3.3em;
    width: 50%;
    text-shadow: 4px 3px 0px rgba(0,0,0,0.2);
    margin-bottom: 25px;
 }

.ToDoTitle, #Edit, .Author, .Attrib {
    text-align: center;
    margin-left: auto;
    Margin-right: auto;
} 

.toggleAll {
    transform:rotate(-90deg);
    -ms-transform: rotate(-90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg) ; /* Safari and Chrome */
    font-size: 40px;
    padding-right: 15px;
    margin-left: -5px;
    
}

input{
    padding: 15px 10px;
    font-size: 22px;
    background-color: inherit;
    color: inherit;
    border: none;
    margin: none;

}

.InputTask {
    border-left: red double 3px;
}

li.TaskLine {
    border: #c9c9c9 dotted 1px;
    font-size: 22px;
    color: #4d4d4d;
	background-color: #fdfdfd;
    clear: both;

}
/*
.TaskList{
    color: #4d4d4d;
	background-color: #fdfdfd;
    clear: both;

}

*/
.TaskList span {
    display: inline-block;
}

.toggle {
    padding: 15px 7px;
    color: #c9c9c9;
}

.TaskText {
    padding: 15px 10px;
}


.TaskText {
    border-left: red double 3px; 
}

.TaskDelete {
    color: #92827a;
}

.TaskDelete:hover {
    color: red;

}

.TaskLine.TaskText,
.TaskLine input {
  position: absolute;
}

.TaskLine input {
  display: none;
}
.TaskLine.edit input {
  display: inline;
}

span.hide {
    display: none;
}

.StatusElements {
    width: 558px;
    color: #7c7c7c;
    padding: 10px 0;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    border: #92827a solid 2px;
    border-top: #92827a solid 1px;
}

.StatusElements li {
    width: 170px;
    font-size: 14px;
    margin-left: 10px;
}


.Category li {
    width: auto;
    
}

.NumToDo {
    text-align: left;
}

.NumCompleted {
    text-align: right;
}

.ToDoListInfo p {
    padding-top: 25px;
    font-size: .58em;
    color: #c9c9c9;
}

.ToDoListInfo a  {
    color: #c9c9c9;
}

.StatusElements, .Categories, .Category {
    list-style-type: none;
}

.complete .TaskText{
    text-decoration: line-through;
    color: #c9c9c9;
}

.complete .toggle {
    color : green;
}
